body {
	background-image: url(../assets/bodybackground.png);
	background-attachment: fixed;
	background-position: center;
}

 @font-face {
	font-family: RobotoMono;
	src: url(../assets/RobotoMono.ttf);
}

#top {
    background-color: #200f19;
    height: 140px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

#toptext {
    height: 140px;
    position: fixed;
    left: 12px;
}

#linkbox {
	background-color: #050004;
	height: 64px;
	position: fixed;
	left: 0px;
	top: 140px;
	width: 100%;
}

@media screen and (max-width: 726px) {
	#linkbox {
		height: 128px;
	}
}

#secretbox {
	background-color: #050004;
	height: 64px;
	position: fixed;
	left: 0px;
	top: 140px;
	width: 100%;
}

#links {
    position: fixed;
	top: 129px;
    left: 5px;
}

#midtext {
    position: absolute;
    top: 195px;
    left: 12px;
}

@media screen and (max-width: 726px) {
	#midtext {
		top: 261px;
	}
}

#secrettext {
    position: absolute;
    top: 195px;
    left: 12px;
}

#img {
    position: absolute;
    top: 540px;
    left: 0px;
}

#button {
	position: absolute;
	top: 540px;
	left: 96px;
}

@media screen and (max-width: 726px) {
	#button {
		top: 604px;
	}
	
	#img {
		top: 604px;
	}
}

#copyright {
	background-color: #120c0f;
	height: 96px;
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 100%;
}

@media screen and (max-height: 500px) {
	#copyright {
		top: 404px;
	}
}

#ccsymbol {
	position: absolute;
	left: 12px;
	top: 48px;
}
