#top {
    background-color: #200f19;
    height: 140px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

#toptext {
    height: 140px;
    position: absolute;
    left: 12px;
}

#linkbox {
	background-color: #050004;
	height: 64px;
	position: absolute;
	left: 0px;
	top: 140px;
	width: 100%;
}

@media screen and (max-width: 726px) {
	#linkbox {
		height: 128px;
	}
}

#secretbox {
	background-color: #050004;
	height: 64px;
	position: absolute;
	left: 0px;
	top: 140px;
	width: 100%;
}

#links {
    position: absolute;
	top: 129px;
    left: 5px;
}

#midtext {
    position: absolute;
    top: 195px;
    left: 12px;
}

@media screen and (max-width: 726px) {
	#midtext {
		top: 261px;
	}
}

#secrettext {
    position: absolute;
    top: 195px;
    left: 12px;
}

#img {
    position: absolute;
    top: 540px;
    left: 0px;
}

@media screen and (max-width: 726px) {
	#img {
		top: 604px;
	}
}

#button {
	position: absolute;
	top: 540px;
	left: 96px;
}

@media screen and (max-width: 726px) {
	#button {
		top: 604px;
	}
}

#copyright {
    position: absolute;
    top: 800px;
    left: 12px;
}

@media screen and (max-width: 726px) {
	#copyright {
		top: 864px;
	}
}

#empty {
    height: 300px;
    position: absolute;
    top: 100%;
    width: 100%;
}

body {
	background-color: #261d23;
}
