#top {
    background-color: #12080e;
    height: 140px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

#toptext {
    height: 140px;
    position: absolute;
    left: 12px;
}

#linkbox {
	background-color: #050004;
	height: 64px;
	position: absolute;
	left: 0px;
	top: 140px;
	width: 100%;
}

@media screen and (max-width: 740px) {
	#linkbox {
		background-color: #050004;
		height: 128px;
		position: absolute;
		left: 0px;
		top: 140px;
		width: 100%;
	}
}

#links {
    position: absolute;
	top: 129px;
    left: 5px;
}

#midtext {
    position: absolute;
    top: 195px;
    left: 12px;
}

@media screen and (max-width: 740px) {
	#midtext {
		position: absolute;
		top: 261px;
		left: 12px;
	}
}

#img {
    position: absolute;
    top: 0px;
    left: 400px;
}

#copyright {
    position: absolute;
    bottom: 50px;
    left: 12px;
}

#empty {
    height: 300px;
    position: absolute;
    top: 100%;
    width: 100%;
}

body {
	background-color: #261d23;
}